<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form action="#" th:action="@{/cart}" th:object="${product}"
		method="post">
		<fieldset>
			<input type="submit" id="submitButton" th:value="Save" /> 
			<!-- <input id="id" placeholder="Enter ID" required type="text" 
				th:field="*{id}" /> -->
			<input id="name" placeholder="Enter Product" required type="text"
				th:field="*{product.name}" />
			<input id="price" placeholder="Enter Price" required type="text"
				th:field="*{product.price}" />
		</fieldset>
	</form>
</body>
</html>